<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Image Pypelines Demo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ac9b4339f113b41b5433.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.d6c52737d4587c65265f.js" defer></script><script src="polyfills.ff0b0338c6a214ebc87b.js" defer></script><script src="main.7897330e7a858c0c8d13.js" defer></script></body>
</html>
