recursive-include imagepypelines_tools/dockerfiles *
recursive-include imagepypelines_tools/templates *
recursive-include imagepypelines_tools/ip-client *
include imagepypelines_tools/.dockerignore
include imagepypelines_tools/docker-compose.yaml
recursive-exclude imagepypelines_tools/ip-client/node_modules *
