recursive-include imagepypelines_tools/dockerfiles *
recursive-include imagepypelines_tools/templates *
recursive-include imagepypelines_tools/ip-client *
include .dockerignore
include docker-compose.yaml
include LICENSE
include README.rst
