cffi==1.14.0
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
decorator==4.4.2
dill==0.3.2
dnspython==1.16.0
eventlet==0.25.2
Flask==1.1.2
Flask-SocketIO==4.3.1
greenlet==0.4.16
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
monotonic==1.5
networkx==2.4
numpy==1.19.0
pycparser==2.20
python-engineio==3.13.1
python-socketio==4.6.0
six==1.15.0
termcolor==1.1.0
Werkzeug==1.0.1
flask==1.1.2
flask-socketio==4.3.1
opencv-python==4.3.0.36
